body, html { padding: 0; margin: 0; height: 100%; }
.full-screen, #map { min-height: 100%; }
ul#files>li>span.size {margin-left: 1em;}
.leaflet-popup-content {text-align: center;}
.leaflet-popup-content h6 {font-weight: bold;}
.leaflet-popup-content p {margin:0;}


.button_download{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


.box_download {
    display: flex;
    align-items:center;
 }

.box_download button{
    padding-right: 25px;
}



@media all and (min-width: 1500px){
    .box_download span{
        font-size: 17px
    }
    .box_download button{
        padding-right: 15px;
    }
}

@media all and (max-width: 1499px){
    .box_download span{
        font-size: 12px;
    }
    .box_download button{
        padding-right: 25px;
    }
}

@media screen and (min-height: 1000px){
    .button_download{
        background-color: red;
    }
}

.container-url {
    position: relative;
    display: inline-block;
  }
  
  #animationSuccess {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(10px);
    padding: 4px 10px 0 25%;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    animation: fadeOut 2s ease-in;
    width: 100px;
    height: 30px;
  }
  
.hidden {
    display: none;
}

#copy-url {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    background-color: #0a017e;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
#copy-url:hover {
    background-color: #18009e;
  }
  
#copy-url:focus {
    outline: none;
    box-shadow: 0 0 0 3px #18009e;
  }