#ign, #autre, #map {
    height: 100vh;
    width: 100%;
  }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
} 

/* enleve la legende en bas de droite mapbox */
.leaflet-control-attribution{
  display: none;
}

.leaflet-popup{
  top: -90px;
} 

.button-download{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;  
    width: 130px;
    height: 40px;
}
.button-download:hover {
  background-color: #008CBA; 
  color: white; 
}

.remove_design_dalle .nom_dalle{
  display: inline-block;
}

.remove_design_dalle{
  height: 20px;
  width: 20px;
  padding: 0;
  background: #dc2500;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.remove_design_dalle:hover {
  background: #b01e00;
}

.remove_design_dalle:active {
  background: #dc2500;
}

.remove_design_dalle span {
  display: inline-flex;
  align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.08);
}

.titre__liste-dalle{
  font-size: 18px;
}

.fa-solid{
  color: white;
}

.button-remove-dalles{
  border-radius: 20%;
  background-color: #bf0606;
  width: 30px;
  border: 0;
  cursor: pointer;
  margin-right: 20px
}

.button-remove-dalles:hover{
  background: #811600;
}

.fa-info{
  color: black;
}

.button-infobox{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 10000; 
  padding-top: 5%; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 70%;
  overflow: auto;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.title_modal{
  color: #0087b4;
}
